.advantages {
  background-color: #F8F9FC;
  padding-bottom: 114px;
}

.advantages__title {
  @include title;

  margin: 0;
  padding: 0;

  text-align: center;

  padding-top: 120px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  margin-top: 68px;
  padding: 0;

  color: $dark-blue;

  max-width: 1040px;

}

.advantages__table {
  height: 100%;

  &:nth-child(2) {
  padding-left: 40px;
  }
}

.advantages__table tbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.advantages__middle-desc {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  padding: 0 30px;
  padding-top: 35px;
}

.advantages__middle-desc p {
  margin-top: 32px;
}

.advantages__middle-count {
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 111px;
}

.advantages__middle-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;

  margin-top: -16px;
}

.advantages__count {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: bold;
  font-size: 71px;
  // line-height: 106px;

  margin-right: 25px;

  background: linear-gradient(145.72deg, #ED0233 25.6%, #003EB7 56.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages__count span {
  display: block;
  margin-top: -10px;
  margin-left: -2px;

  font-family: $font-secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #2E35AC;
}

.advantages__item {
  display: flex;

  width: 340px;

  &--center {
    background-color: $middle-blue;
    color: $white;

    width: 240px;
    max-height: 307px;
    text-align: center;
  }
}

.advantages__item:first-child .advantages__cell {
  margin-left: 24px;
}

.advantages__cell {
  display: flex;
  justify-content: space-between;
  font-family: $font-secondary;

  margin-top: -18px;
  position: relative;

  width: 340px;

  &:not(:last-child) {
    padding-bottom: 57px;
  }

  &:last-child {
    padding-top: 100px;
  }

  &:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 340px;
    height: 2px;

    bottom: -18px;
    left: -26px;
    background-color: rgba(209, 10, 66, 0.2);
  }
}

.advantages__item:last-child .advantages__cell:not(:last-child)::after {
  left: 0;
}

.advantages__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  padding-top: 10px;

  :not(b) {
    margin: 0;;
  }
}

.advantages__desc b {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}

@media (max-width: $desktop) {
  .advantages {
    padding-bottom: 92px;
  }

  .advantages__title {
    font-size: 42px;
    line-height: 42px;

    padding-top: 101px;
  }

  .advantages__wrapper {
    max-width: 96%;
    position: relative;

    margin-top: 42px;
  }

  .advantages__item {
    width: auto;

    &--center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 60%;
      height: 240px;
    }

    &:last-child {
      padding-left: 42px;
    }
  }

  .advantages__middle-desc {
    padding: 0 30%;
    padding-top: 12px;
    margin: 0 auto;
  }

  .advantages__middle-desc p {
    margin-top: 14px;
  }

  .advantages__middle-subtitle {
    font-size: 22px;
    line-height: 33px;
  }

  .advantages__count {
    font-size: 58px;
    line-height: 87px;
  }

  .advantages__count span {
    margin-top: -19px;
    margin-left: 3px;
  }

  .advantages__desc {
    padding-top: 15px;
    padding-left: 7px;
  }

  .advantages__desc b {
    font-size: 20px;
    line-height: 30px;
  }

  .advantages__cell {
    width: auto;
    justify-content: flex-start;

    &::after {
      display: none;
    }

    &:first-child {
      padding-bottom: 150px;
    }

    &:last-child {
      padding-top: 178px;
    }
  }
}

@media (max-width: $tablet) {
  .advantages {
    padding-bottom: 257px;
  }

  .advantages__title {
    font-size: 32px;
    line-height: 32px;

    padding-top: 70px;
  }

  .advantages__wrapper {
    flex-direction: column;
    max-width: 100%;

    margin-top: 44px;
  }

  .advantages__item {
    width: 100%;

    &--center {
      width: 100%;
      top: 62%;
    }

    &:first-child .advantages__cell {
      margin-left: 0;
    }

    &:last-child {
      position: absolute;
      top: 192px;
      left: 50%;
      transform: translateX(-50%);

      padding-left: 0;
    }
  }

  .advantages__table {
    width: 100%;
  }

  .advantages__middle-desc {
    padding: 12px 21% 0;
  }

  .advantages__count {
    margin: 0;
  }

  .advantages__cell {
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-left: 0;

    &:last-child {
      padding-top: 370px;
    }
  }

  .advantages__desc {
    padding: 0 10px;
    padding-top: 5px;
  }

  .advantages__desc p {
    padding: 0 34px;
  }
}
