.coach {
  position: relative;

  margin-bottom: 20px;

  &:hover .coach__name {
    top: 33px;
    bottom: auto;
  }

  &:hover .coach__skills {
    display: block;
  }
}

.coach__skills {
  display: none;

  position: absolute;
  content: "";

  top: 0;
  left: 0;

  // height: 99%;
  height: 219px;
  width: 100%;

  margin: 0;
  padding: 0;
  padding-top: 29%;

  list-style: none;

  background-color: rgba(16, 38, 84, 0.8);
}

.coach__skill {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $white;

  position: relative;

  padding-left: 27%;
  padding-right: 15%;

  &:before {
    position: absolute;
    content: "";

    width: 6px;
    height: 6px;
    border-radius: 50%;

    top: 8px;
    left: 21%;

    background-color: $white;
  }

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  &:nth-child(2) {
    margin-top: 33px;
  }
}

.coach__desc {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #B6BDCC;
  text-align: center;
}

.coach__name {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: $white;

  position: absolute;

  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);

  width: 90%;

  z-index: 1;
}

@media (max-width: $desktop) {
  .coach {
    width: 47%;
  }

  .coach__wrapper {
    width: 100%;
  }

  .coach__photo {
    width: 268px;
  }

  .coach__skills {
    height: 216px;
  }
}

@media (max-width: $tablet) {
  .coach {
    // min-width: 250px;
    // max-width: 90%;

    max-width: 226px;
    height: 274px;
  }
}
