.comment {
  padding-top: 40px;
}

.comment__wrapper {
  max-width: 672px;
  margin: 0 auto;
  margin-top: 50px;

  position: relative;

  overflow: hidden;
}

.comment__btn {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);

  z-index: 5;

  background-color: transparent;
  border: none;

  width: 18px;
  height: 32px;

  cursor: pointer;

  &--prev {
    left: 0;
    background-image: url("../../img/svg/arrow-prev.svg");
    background-repeat: no-repeat;
  }

  &--next {
    right: 0;
    background-image: url("../../img/svg/arrow-next.svg");
    background-repeat: no-repeat;
  }
}

.comment__list {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  padding-left: 56px;
}

.comment__item {
  display: flex;

  max-width: 560px;
  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 62px;
  padding-left: 62px;
  padding-right: 59px;
  padding-bottom: 57px;

  color: $white;
  font-family: $font-secondary;

  background-color: $middle-blue;
  box-shadow: 0px 0px 40px rgba(28, 51, 116, 0.2);

  &:not(:last-child) {
    margin-right: 112px;
  }
}

.comment__text {
  margin: 0;
  margin-left: 28px;
  margin-top: -8px;
}

.comment__title {
  @include title;
  margin: 0;
  padding: 0;

  text-align: center;
}

.comment__name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

  margin: 0;
}

.comment p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin: 0;
  margin-top: 13px;
}

.comment__photo {
  width: 80px;
  height: 80px;
}

@media (max-width: $desktop) {
  .comment {
    padding-top: 21px;
  }

  .comment__title {
    font-size: 42px;
    line-height: 42px;
  }

  .comment__wrapper {
    max-width: 89%;
    margin-top: 41px;
  }

  .comment__list {
  padding-left: 62px;
  }

  .comment__item {
    max-width: 82%;

    &:not(:last-child) {
      margin-right: 123px;
    }
  }
}

@media (max-width: $tablet) {
  .comment {
    padding-top: 20px;
  }

  .comment__title {
    font-size: 32px;
    line-height: 32px;
  }

  .comment__wrapper {
    // max-width: 86%;
    max-width: 95%;
    margin-top: 42px;
  }

  .comment__btn {
    width: 10px;
    height: 19px;

    top: 46%;

    &--prev {
      left: 6px;
      background-image: url("../../img/svg/arrow-prev-mobile.svg");
    }

    &--next {
      right: 6px;
      background-image: url("../../img/svg/arrow-next-mobile.svg");
    }
  }

  .comment__list {
    padding-left: 13%;
    max-width: 91%;
  }

  .comment__item {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 37px;

    &:not(:last-child) {
      margin-right: 28%;
    }
  }

  .comment__photo {
    width: 68px;
    height: 68px;

    left: 17%;

    position: absolute;
  }

  .comment__text {
    max-width: 76%;
    position: relative;
  }

  .comment__name {
    width: 100px;

    position: absolute;
    right: -14%;
    top: 12px;
  }

  .comment__text p {
    margin-top: 90px;
    text-align: center;
  }
}
