.contact {
  margin-top: 120px;

  display: flex;
  justify-content: space-between;
}

.contact__form,
.contact__data {
  width: 50%;
  padding-bottom: 64px;
}

@media (max-width: $desktop) {
  .contact {
    margin-top: 100px;
    flex-direction: column;
  }

  .contact__form,
  .contact__data {
    width: 100%;
  }

  .contact__form {
    padding-bottom: 69px;
  }

  .contact__data {
    padding-bottom: 65px;
  }
}

@media (max-width: $tablet) {
  .contact {
    margin-top: 70px;
  }

  .contact__form,
  .contact__data {
    width: 100%;
  }
}
