.form {
  font-family: $font-secondary;

  background-color: $dark-blue;

  color: $white;

  padding-top: 69px;
  padding-left: 103px;
  padding-right: 167px;
}

.form__title {
  @include title;
  margin: 0;
  padding: 0;

  color: $white;
}

.form label {
  display: none;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 43px;

  color: $white;
}

.form input {
  width: 46%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #74819C;
  padding-bottom: 6px;

  &[placeholder] {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: $white;
  }

  &::-webkit-input-placeholder {
    color: white;
  }

  &::-moz-placeholder {
    color: white;
  } /* Firefox 19+ */
  &:-moz-placeholder {
    color: white;
  } /* Firefox 18- */

  &:-ms-input-placeholder{
    color: white;
  }
}



.form__btn {
  @include animation;

  justify-content: center;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  color: $white;
  text-align: center;

  background-color: transparent;
  border: 3px solid $white;

  padding: 16px;
  margin-top: -12px;

  &:hover {
    background-color: $white;
    color: $dark-blue;
  }
}

@media (max-width: $desktop) {
  .form {
    padding-top: 71px;
    padding-left: 133px;
    padding-right: 161px;
  }

  .form__title {
    font-size: 42px;
    line-height: 42px;
  }

  .form__inputs {
    margin-top: 35px;
  }

  .form input {
    width: 44%;
  }
}

@media (max-width: $tablet) {
  .form {
    padding: 0;
    padding-top: 70px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 68px;
  }

  .form__title {
    font-size: 32px;
    line-height: 32px
  }

  .form__inputs {
    flex-direction: column;
    width: 100%;

    margin-top: 38px;
  }

  .form input {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 37px;
    }
  }

  .form__btn {
    margin-top: -2px;
  }


}
