$font-primary: "Bebas Neue", "Roboto", sans-serif;
$font-secondary: "Roboto Condensed", "Roboto", sans-serif;

$white: #FFFFFF;
$dark-blue: #102654;
$blue: #103AAE;
$red: #ED0233;
$black:  #030A1A;
$middle-blue: #1C3374;
$table-blue: #102654;

$desktop: 1199px;
$tablet: 767px;

$retina-dppx: 1.5dppx;
